.gameCell
{
	-fx-background-color: #3c4d5a;
}

.gameCell-robot
{
	-fx-background-color: #444444;
}

.gameCell:hover
{
	-fx-background-color: #4f4d5a;
}

.gameCell-allow
{
	-fx-background-color: #3c6f5a;
}
.gameCell-allow:hover
{
	-fx-background-color: #3caf5a;
}

.gridView
{
    -fx-background-color: #777;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-hgap: 3;
    -fx-vgap: 3;
}

.default-button
{
   -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
	-fx-font-weight:bold;
}

.default-button Text
{
	-fx-font-size:14px;
	-fx-font-weight:bold;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.default-button:hover
{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#48424b 0%, #3f2429 20%, #391d22 100%),
        linear-gradient(#40262b, #391d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.default-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}