.characterSelected
{
	-fx-padding: 5 10 5 10;
	-fx-background-insets: 5 0 5 0;
	-fx-effect: dropshadow(three-pass-box, rgba(40,90,40,0.9), 15, 0.6, 0.6, 0);
	-fx-pref-height: 32;
	-fx-max-height: 32;
	-fx-pref-width: 32;
	-fx-max-width: 32;
}

.characterNotSelected
{
	-fx-background-radius: 5;
	-fx-pref-height: 32;
	-fx-max-height: 32;
	-fx-pref-width: 32;
	-fx-max-width: 32;
	-fx-padding: 5 10 5 10;
	-fx-background-insets: 5 0 5 0;
}